//Slide carousel
#slideCarousel {
  max-width: 1240px;
  margin: 0px auto;
  .carousel-item {
    height: 168px;
    background-repeat: no-repeat;
    background-size: cover;
    a {
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(50px);
      padding: 12px 8px;
      margin: 8px 17%;
      height: 92%;
      border-radius: 5px;
    }
  
    p {
      color: white;
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 26px;
      text-shadow: 0px 3px 6px #00000029;
    }
  }
}

.carousel-indicators button[type="button"] {
  height: 5px;
  border-radius: 50%;
  width: 5px;
}

.carousel-indicators button.active {
  background-color: green !important;
}

.carousel-secondClass {
  height: 87px;
  text-align: center;
}

.carousel-item span {
  color: $secondary-color;
  font-weight: bold;
}

.secondCarousel:before {
  content: "|";
  color: $secondary-color;
  font-weight: 100;
  font-size: 22px;
  opacity: 0.5;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-item span {
  color: $secondary-color;
  font-weight: 100;
  line-height: 4vh;
}

.carousel-item h6 {
  color: $secondary-color;
  font-weight: bold;
  line-height: 4vh;
}

.carousel-indicators.carrouselSubMenu {
  /* margin-top: 1px; */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

//ATALHOS CAROUSEL
#atalhosCarousel {
  .carousel-inner{
    box-shadow: 0px 0px 6px #00000040;
  }
  .cardCaption {
    display: grid;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    width: 70%;
    margin: 0 auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .carousel-caption {
    position: inherit;
    margin: 1rem 0px;
    span {
      font: $subtitle;
      font-weight: 400;
      line-height: 12px;
    }
    span:nth-child(2) {
      font-size: 1.375rem;
      line-height: 22px;
      color: #44484B;
      font-weight: 800;
    }
  }
  .carousel-indicators {
    margin-bottom: -1.3rem;
    button {
      background-color: #DDD;
    }
  }
  .carousel-control-next, .carousel-control-prev {
    background: none;
  }
}

// NOTÃCIAS
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;

  h1 {
    font: $first-title;
  }

  a {
    color: $tertiary-color;
    text-transform: uppercase;
    font: $subtitle;
  }
}

#noticias {
  margin: 40px 20px;
  .card-img-top {
    max-height: 220px;
    object-fit: cover;
  }
}

.noticias-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));

  .card {
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    border: none;
  }

  .card-body {
    padding: 8px 16px;
    display: grid;
    justify-content: space-between;
  }

  .card span {
    display: inline-block;
    font-size: 10px;
    color: #707070;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .card p {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 700;
    color: #292C2E;
  }
}

.section-web-stories {
  margin: 40px 20px;
}

// Web Stories
.splide__slide {
  height: 380px;
}

#webstory-carousel-container {
  overflow: hidden;
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto;
  position: relative;
}

.webstory-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 390px;
  gap: 26px;
  position: relative;
}

.webstory-item {
  width: 280px;
  height: 374px;
  border-radius: 8px;
  opacity: 1;
  img{
    width: inherit;
    border-radius: 8px;
    height: auto;
  }
  a {
    padding: 0px;
    height: 100%;
    background: transparent linear-gradient(180deg, #00000000 0%, #00000080 100%) 0% 0% no-repeat padding-box;
  }
}

div#webstory-carousel-container {
  margin-top: 20px;
  width: 100%;
  padding: 0px 22px;
}

#webstory-prev, #webstory-next {
  cursor: pointer;
  font-size: 24px;
  text-align: right;
  background: none;
  border: none;
  color: green;
  width: fit-content;
}
#webstory-prev{
  left: 280px;
  bottom: 0px;
}
#webstory-next{
  left: 320px;
  bottom: 0px;
}

.webstory-item {
  width: 280px;
  height: 374px;
  border-radius: 8px;
  opacity: 1;
  
}

div#webStoriesTittle {
  display: flex;
  gap: 20px;
  align-items: baseline;
  margin-bottom: 20px;
  
  h1{
   font-weight: 800;
 
  }
  span{
    font: normal normal normal 14px/16px Open Sans;
    letter-spacing: 0px;
    color: #258950;
    opacity: 1;
    cursor: pointer;
  }
  span:after{
    content: ">";
    color: #44484B;
    font-weight: 100;
    font-size: 14px;
    opacity: 0.2;
    margin-bottom: auto;
  }
}
div#webstory-carousel-container {
  margin-top: 20px;
  width: 100%;
  padding: 0px 22px;
  margin-bottom: 70px;
}
.tag{
  text-align: center;
}

.webstory-item{
  position: relative;
    img{
    border-radius: 8px;
    opacity: 1;
    }
    a{
      position: absolute;
      left: 1px;
      bottom: 20px;
      padding: 0px 10px;
      color: white;
      letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--branco);
  text-align: left;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
    }
}


@media (min-width: 768px) {
  //Slide carousel
  #slideCarousel {
    .carousel-item {
      height: 350px;
      a {
        height: auto;
        margin-top: 2rem;
        margin-left: 98px;
        max-width: 520px;
      }
      p {
        font-size: 24px;
        line-height: 33px;
      }
    }
    .carousel-control-next, .carousel-control-prev {
      max-width: 66px;
    }
  }


  /* ATALHOS CAROUSEL*/
  #atalhosCarousel {
    max-width: 1240px;
    margin: 0px auto;
    margin-top: .5rem;
    .carousel-inner{
      display: flex;
      justify-content: space-around;
      
    }
    .carousel-item {
      width: auto;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      float: none;
      margin-right: 0px;
      a {
        display: inline-block;
        width: 100%;
      }
    }

    .carousel-item::after {
      content: '';
      display: inline-block;
      height: 70%;
      width: 1px;
      color: #EEE;
      background: #EEE;
      position: absolute;
      right: 0px;
    }
    .carousel-item:last-child::after {
      width: 0px;
    }
    
    .cardCaption {
      width: 100%;
      border: none;
    }
    .carousel-caption {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .carousel-indicators, .carousel-control-prev, .carousel-control-next {
      display: none;
    }
  }

  //NOTICIAS
  .noticias-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  }
}

@media (min-width: 1240px) {
  #noticias {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .noticias-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}