#page {
  margin: 40px 28px;

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    font: $second-title;
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

  h3 {
    font: $third-title;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}