$primary-color: #fff
$secondary-color: #44484B
$tertiary-color: #359830
$quaternary-color: #F2F2F2
$text-color: #2B2B2B
$text-gray: #AAA
$green: #359830

//colors variables

$menu-font: 600 16rem/22px Open Sans
$submenu-font: 600 14px/19px Open Sans
$text-font: 400 1rem/22px Open Sans
$button-font: bold 16px/22px Open Sans

$first-title: 800 2.25rem/49px Open Sans
$second-title: bold 1.5rem/33px Open Sans
$third-title: bold 1.25rem/27px Open Sans
$fourth-title: 600 18px/24px Open Sans
$fifth-title: 600 14px/19px Open Sans
$subtitle: 600 12px/17px Open Sans
