$primary-color: #fff
$secondary-color: #44484B
$tertiary-color: #359830
$quaternary-color: #F2F2F2
$text-color: #2B2B2B
$text-gray: #AAA
$green: #359830

//colors variables

$menu-font: norma,600, 16px/22px, Open Sans
$first-title: 700 36px/49px Open Sans
$second-title: normal normal bold 24px/33px Open Sans
$third-title: normal normal bold 20px/27px Open Sans
$title-prev-img: normal normal bold 14px/22px
$date-prev: normal normal 600 12px/17px Open Sans
$date-or-link: normal normal 600 14px/19px Open Sans
$text: normal normal normal 16px/24px Open Sans
$menu-font: norma,600, 16px/22px, Open Sans
