@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

span {
  display: inline-block !important; }

a {
  text-decoration: none !important; }

hr {
  margin: 0;
  padding: 0;
  line-height: 0;
  color: #44484B;
  border-color: 'green';
  border-style: solid; }

i {
  color: #44484B; }

body {
  color: #2B2B2B; }

strong,
b {
  font-weight: bold; }

a {
  color: #359830;
  text-decoration: underline; }

.first-title {
  font: 700 36px/49px Open Sans; }

.second-title {
  font: normal normal bold 24px/33px Open Sans; }

.third-title {
  font: normal normal bold 20px/27px Open Sans; }

.text {
  font: normal normal normal 16px/24px Open Sans;
  margin-bottom: .5rem; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
  align-items: center;
  position: relative;
  width: auto; }
  .container section a {
    margin-left: 24px;
    color: #44484B; }

#searchIcon, #menuMobileIcon {
  font-size: 24px; }

input#toggleSearch, input#toggleForm, input#searchTopMenu {
  width: 82vw;
  position: absolute;
  left: 5vw;
  right: 19vw;
  top: 52px;
  margin: 0px auto;
  height: 4vh;
  border-radius: 4px;
  padding: 0px 10px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  transition: all 0.3s ease 0s; }

#myForm i, #searchTopMenu {
  display: none; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none; }

i.fa-sharp.fa-solid.fa-circle-xmark {
  position: absolute;
  top: 59px;
  left: 80vw; }

.toggleForm {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: 16px;
  height: 3.5vh;
  position: absolute;
  top: 14.3vh;
  left: 79.2vw;
  z-index: 9999;
  opacity: 0; }

/* Estilos para ocultar o formulário quando o checkbox estiver marcado */
.toggleForm:checked {
  display: none; }

#input#toggleSearch {
  width: 28px;
  position: absolute;
  z-index: 999;
  top: 1vh;
  left: 61vw;
  opacity: 0; }

input#toggleSearch {
  display: block;
  position: absolute;
  z-index: 333;
  top: 0.5vh;
  left: calc(100% - 28vw);
  right: 8vw;
  opacity: 0;
  width: 43px; }

#stickContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0px; }
  #stickContainer .secondColun {
    display: flex;
    gap: 20px; }

.containerFlex {
  margin-top: 100vh; }

i.fa-solid.fa-xmark {
  font-size: 33px; }

.stick {
  position: sticky;
  top: 0px; }

.floatingMenu {
  display: none;
  position: absolute;
  height: auto;
  top: 0px;
  z-index: 10000;
  background: #F2F2F2;
  width: 100vw;
  border-top: 2px solid #359830;
  padding-bottom: 0vh; }

.admin-bar .floatingMenu {
  top: 46px; }

.admin-bar input#dropDownMenu {
  top: 103px; }

.admin-bar #closerDropMenu {
  top: 64px; }

i.fa-solid.fa-universal-access {
  font-size: 30px;
  position: absolute;
  left: 32vw;
  top: 1vh; }

[vw] [vw-access-button] img {
  max-height: 50px;
  transition: all .5s ease;
  border-radius: 79px;
  opacity: 1 !important;
  visibility: hidden !important;
  z-index: 333; }

[vw] [vw-access-button] .access-button {
  width: 33px;
  height: 33px;
  z-index: 1;
  visibility: initial !important; }

[vw] [vw-access-button] {
  flex-direction: row-reverse;
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  position: absolute !important;
  border-radius: 8px !important;
  transition: all .5s ease;
  right: 38vw !important;
  bottom: 46.5vh !important;
  left: auto !important; }

div[vw] {
  z-index: 333 !important;
  margin-top: 30px !important; }

.sub-menu {
  display: none !important; }

ul.menuUl {
  margin-bottom: 40px; }

a span i {
  font-size: 12px;
  font-weight: 800;
  color: green;
  margin-left: 10px;
  font-family: "Font Awesome 6 Free"; }

i.fa-solid.fa-arrow-up-right-from-square {
  color: black; }

ul.menu {
  padding-bottom: 12px;
  display: block;
  margin-left: 32px; }

ul.menu li {
  margin-bottom: 24px;
  color: #44484B; }

ul.menu li:last-child {
  margin-bottom: 0px !important; }

ul.menu li a {
  font-size: 16px;
  font-weight: 600;
  color: #44484B;
  margin-bottom: 0px !important; }

.menuUl > .voltar {
  display: none; }

.menu:before {
  content: '';
  display: block;
  position: absolute;
  color: #000;
  width: 210px;
  height: 2px;
  z-index: 99999;
  font-weight: 900;
  top: 20px; }

.menu-item-has-children.opened a {
  display: none; }

.menu-item-has-children.opened ul {
  display: block; }

ul#menu-barra-governo:after, ul#menu-mainmenu:after {
  content: "";
  display: block;
  width: 90vw;
  height: 1px;
  background: #359830;
  text-align: center;
  /* justify-content: center; */
  margin-left: -16px; }

ul.menu li:last-child {
  margin-bottom: 39px !important; }

.voltar {
  position: absolute;
  display: block;
  color: green;
  top: 10vh;
  left: 40px;
  cursor: pointer;
  margin-top: 2vh; }

nav.menuUl {
  margin-top: 25px !important;
  padding: 21px 0px; }

.voltar:after {
  content: "";
  position: absolute;
  display: block;
  width: 90vw;
  height: 1px;
  top: 3vh;
  z-index: 999;
  background: green;
  margin: 8px 0px 0px -24px; }

.menu-item-has-children ul li:first-child {
  padding-top: 40px; }

ul.menu.special:before {
  display: none !important; }

.menu-item-has-children {
  position: relative; }

li.menu-item-has-children > a:after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  width: 5px;
  height: 5px;
  font-weight: 900;
  color: green;
  font-size: 10px;
  margin-left: 5px; }

#menu-barra-governo li:not(.menu-item-has-children) > a:after {
  content: "\f08e";
  font-family: "Font Awesome 6 Free";
  width: 5px;
  height: 5px;
  font-size: 10px;
  margin-left: 5px; }

#menu-barra-governo li.menu-item-has-children > a:after {
  color: #2E2E2E; }

.voltar:before {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  width: 5px;
  height: 5px;
  font-weight: 900;
  color: green;
  font-size: 10px;
  margin-right: 10px;
  margin-left: -10px;
  position: absolute;
  top: 4px; }

.stick {
  color: gray;
  box-shadow: 0px -1px #80808038;
  padding: 1px;
  z-index: 999; }

.menu-barra-governo-container {
  margin-top: 16px; }

#mainFooter {
  min-height: 220px;
  position: relative;
  color: #2B2B2B; }

#contactArea {
  font: norma, 600, 16px/22px, Open Sans;
  font-size: 14px;
  font-weight: 600;
  padding: 24px 33px;
  display: grid;
  gap: 16px; }
  #contactArea #addressFooter {
    line-height: 1.5em; }

#footerIcons {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 31px; }
  #footerIcons a i {
    font-family: "Font Awesome 6 Brands";
    font-size: 24px; }

.carousel-item {
  height: 168px;
  background-repeat: no-repeat;
  background-size: cover; }
  .carousel-item a {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    padding: 12px 8px;
    margin: 8px 17%;
    height: 92%; }
  .carousel-item p {
    color: white;
    font-weight: bold;
    font-size: 1.1875rem;
    text-shadow: 0px 3px 6px #00000029; }

.carousel-indicators button[type="button"] {
  height: 5px;
  border-radius: 50%;
  width: 5px; }

.carousel-indicators button.active {
  background-color: green !important; }

#carouselExampleIndicators {
  height: 87px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px; }

.carousel-secondClass {
  height: 87px;
  text-align: center; }

.carousel-item span {
  color: #44484B;
  font-weight: bold; }

.secondCarousel:before {
  content: "|";
  color: #44484B;
  font-weight: 100;
  font-size: 22px;
  opacity: 0.5; }

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2); }

.carousel-item span {
  color: #44484B;
  font-weight: 100;
  line-height: 4vh; }

.carousel-item h6 {
  color: #44484B;
  font-weight: bold;
  line-height: 4vh; }

.carousel-indicators {
  margin-bottom: -0.5rem !important; }

.carousel-indicators.carrouselSubMenu {
  /* margin-top: 1px; */
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px; }
  .header-section a {
    color: #359830;
    text-transform: uppercase;
    font: normal normal 600 14px/19px Open Sans; }

#noticias {
  margin: 40px 28px; }
  #noticias h2 {
    font: 700 36px/49px Open Sans; }

.noticias-grid {
  display: grid;
  gap: 1rem; }
  .noticias-grid .card {
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    border: none; }
  .noticias-grid .card-body {
    padding: 8px 16px;
    display: grid;
    justify-content: space-between; }
  .noticias-grid .card span {
    display: inline-block;
    font-size: 10px;
    color: #707070;
    font-weight: 700;
    margin-bottom: 8px; }
  .noticias-grid .card p {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 700;
    color: #292C2E; }

#featuredMenu {
  margin: 0 20px; }
  #featuredMenu .content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    max-width: 100%; }
    #featuredMenu .content a {
      display: grid;
      padding: 10px;
      max-width: 100%;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
      #featuredMenu .content a img {
        max-width: 100%;
        height: auto; }

.post-title {
  font: normal normal bold 24px/33px Open Sans;
  color: #2B2B2B; }

#post {
  color: #2B2B2B;
  margin: 40px 28px; }
  #post p {
    font: normal normal normal 16px/24px Open Sans;
    margin-bottom: .5rem; }
  #post figure {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  #post span {
    font: normal normal 600 14px/19px Open Sans;
    color: #AAA; }
  #post sub {
    font: normal normal 600 12px/17px Open Sans;
    color: #AAA; }
  #post h2 {
    font: normal normal bold 20px/27px Open Sans;
    margin-top: 1.5rem;
    margin-bottom: .5rem; }
  #post .share-post {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem; }
    #post .share-post span {
      color: #44484B; }
    #post .share-post .share-grid {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin-top: .5rem; }
      #post .share-post .share-grid div {
        border: 1px solid #DBDBDB;
        border-radius: 4px;
        padding: .5rem; }

#page {
  margin: 40px 28px; }
  #page h1 {
    margin-bottom: 1rem; }
  #page h2 {
    font: normal normal bold 24px/33px Open Sans;
    margin-top: 2rem;
    margin-bottom: .5rem; }
  #page h3 {
    font: normal normal bold 20px/27px Open Sans;
    margin-top: 1rem;
    margin-bottom: .5rem; }

#archive {
  margin: 40px 28px; }
  #archive .archive-card {
    margin-top: 2rem;
    padding-bottom: 2rem; }
  #archive .archive-card::after {
    height: 1px;
    width: 30%;
    margin: 0 auto;
    background: #DBDBDB; }
