/* Error: Inconsistent indentation, expected 4 spaces.
 *     ,
 * 339 |   i.fa-solid.fa-universal-access 
 *     | ^^
 *     '
 *   header.sass 339:1  @import
 *   main.sass 4:10     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 4 spaces.\a     \2577 \a 339 \2502    i.fa-solid.fa-universal-access \a     \2502  ^^\a     \2575 \a   header.sass 339:1  @import\a   main.sass 4:10     root stylesheet";
}
